/* the best heading */
h1 {
    font-family: "Droid-Sans", monospace;
    font-weight: bold;
}
h2 {
    font-family: "droid-sans", /* comment */ "adamina", monospace;
    font-weight: normal;
}
h3 {
    font-family: Abril-fatFace, stupid, monospace;
    font-style: normal;
}
p {
    font-family: droid-sans, monospace;
    font-style: normal;
}