.ewf-picker {
    width: 523px;
}

.ewf-title {
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 20px;
}

.search-fonts {
    width: 521px;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-bottom: 12px;
    height: 32px;
    padding-left: 50px;
    background-image: -webkit-image-set(url("../img/fonts_search.png") 1x, url("../img/fonts_search@2x.png") 2x);
}

.ewf-side-bar {
    float: left;
    clear: both;
}

.ewf-search-fonts {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.48);
}

.ewf-picker button {
    padding: 0;
}

.ewf-picker button:hover {
    background: rgb(220,225,228);
    background-position: 0 -30px;
}

.ewf-picker button.selected {
    background: rgb(189,189,189);
}

.ewf-button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48) inset;
    border: 1px solid rgb(166, 168, 168);
    background: rgb(219,221,222);
    border-radius: 3px;
    width: 33px;
    height: 33px;
}

.ewf-button:disabled {
    background-position: -30px 0;
}

.ewf-picker ul {
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
}

.ewf-picker li {
    list-style: none;
    height: 30px;
}

.ewf-picker li button {
    border: 1px solid #b4b6b5;
    background: rgb(219,221,222);
    width: 33px;
    height: 33px;
}

.ewf-picker li:first-child button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48) inset;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ewf-picker li:last-child button {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ewf-icon {
    padding: 0;
    margin: 0 auto;
    width: 120px;
    height: 60px;
}

.ewf-icon:disabled {
    background-position: -30px 0;
}

.serif {
    background-image: -webkit-image-set(url("../img/fonts_serif.png") 1x, url("../img/fonts_serif@2x.png") 2x);
}

.sans-serif {
    background-image: -webkit-image-set(url("../img/fonts_sans-serif.png") 1x, url("../img/fonts_sans-serif@2x.png") 2x);
}

.slab-serif {
    background-image: -webkit-image-set(url("../img/fonts_slab-serif.png") 1x, url("../img/fonts_slab-serif@2x.png") 2x);
}

.script {
    background-image: -webkit-image-set(url("../img/fonts_script.png") 1x, url("../img/fonts_script@2x.png") 2x);
}

.blackletter {
    background-image: -webkit-image-set(url("../img/fonts_blackletter.png") 1x, url("../img/fonts_blackletter@2x.png") 2x);
}

.monospaced {
    background-image: -webkit-image-set(url("../img/fonts_mono-spaced.png") 1x, url("../img/fonts_mono-spaced@2x.png") 2x);
}

.handmade {
    background-image: -webkit-image-set(url("../img/fonts_handwritten.png") 1x, url("../img/fonts_handwritten@2x.png") 2x);
}

.decorative {
    background-image: -webkit-image-set(url("../img/fonts_decorative.png") 1x, url("../img/fonts_decorative@2x.png") 2x);
}

.chosen-fonts-icon {
    background-image: -webkit-image-set(url("../img/fonts_checked.png") 1x, url("../img/fonts_checked@2x.png") 2x);
}

.paragraphs-font {
    background-image: -webkit-image-set(url("../img/fonts_paragraphs.png") 1x, url("../img/fonts_paragraphs@2x.png") 2x);
}

.headlines-font {
    background-image: -webkit-image-set(url("../img/fonts_headlines.png") 1x, url("../img/fonts_headlines@2x.png") 2x);
}

.ewf-check {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-image: -webkit-image-set(url("../img/font_check.png") 1x, url("../img/font_check@2x.png") 2x);
    background-position: 0 -25px;
}

.divider {
    width: 1px;
    height: 370px;
    float: left;
}

.divider-left {
    margin: 0px 0px 0px 9px;
    background-image: -webkit-linear-gradient(top, rgba(169, 169, 169, 0) 0%, rgba(169, 169, 169, 1) 50%, rgba(169, 169, 169, 0) 100%, rgba(169, 169, 169, 1) 50%, rgba(169, 169, 169, 0) 0%);
}

.divider-right {
    margin: 0px 9px 0px 0px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 0%);
}

.ewf-results {
    float: left;
    width: 470px;
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ewf-font {
    position: relative;
    float: left;
    width: 102px;
    height: 120px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    border: 1px solid #b4b6b5;
    border-radius: 3px;
    background-color: white;
    background-position: center 5px;
    cursor: pointer;
}

.chosen {
    box-shadow: 0 0 15px rgba(0,0,0,0.48);
}

.ewf-font-details {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100px;
    padding: 6px;
    background-color: rgb(229,232,231);
    border-top: 1px solid #b4b6b5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ewf-font-details label {
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
}

.wait {
    top: 250px;
    left: 300px;
}
